@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Découvrez comment <a href="https://learn.microsoft.com/aspnet/core">créer des applications web avec ASP.NET Core</a>.</p>
</div>
